# EmailJS Configuration
# https://dashboard.emailjs.com/admin
#
# Adımlar:
# 1. emailjs.com'da ücretsiz hesap aç (ayda 200 mail hediye)
# 2. Email Services > Add New Service (Gmail, Outlook vs. seç)
# 3. Email Templates > Create New Template
#    Template'te şu değişkenleri kullan:
#    {{name}}, {{company}}, {{employees}}, {{message}},
#    {{contact_email}}, {{contact_phone}}, {{marketing_consent}}
# 4. Account > General > Public Key'i kopyala
# 5. Bu dosyayı ".env" olarak kopyala ve değerleri doldur
#
# DİKKAT: .env dosyasını ASLA Git'e commit etme. .gitignore'da zaten ekli.

PUBLIC_EMAILJS_SERVICE_ID=service_xxxxxxx
PUBLIC_EMAILJS_TEMPLATE_ID=template_xxxxxxx
PUBLIC_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxx
