---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
import Hero from '../sections/Hero.jsx';
import TechTicker from '../components/TechTicker.jsx';
import Services from '../sections/Services.jsx';
import Contact from '../sections/Contact.jsx';
import Footer from '../sections/Footer.jsx';
import WhatsAppButton from '../components/WhatsAppButton.jsx';
import StickyContactBar from '../components/StickyContactBar.jsx';
import ConsentNotice from '../components/ConsentNotice.jsx';
---

<Layout>
  <Navbar client:load />
  <WhatsAppButton client:load />
  <StickyContactBar />
  <main class="pb-16 md:pb-0">
    <Hero client:load />
    <TechTicker />
    <Services />
    <Contact client:load />
  </main>
  <Footer />
  <ConsentNotice client:idle />
</Layout>
